<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jscode - 让你快速成长的 JavaScript 社区</title>
    <meta content="authenticity_token" name="csrf-param">
    <meta content=<%- csrf %> name="csrf-token">
    <%- styles %>
</head>

<body>
    <div id="root"><%- content %></div>
    <script>
        try {
            window.__STATE__ = <%- JSON.stringify(state) %>;
        } catch (e) {
            console.error('[ERR] error in getting server redux state');
        }
    </script>
    <%- cssHash %>
        <%- js %>
</body>

</html>